@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,900');

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  font-weight: 300;
  color: #3C3C3C;
}

html {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #333333;
  background-color: #F5F5F5;
}

body {
  width: 70%;
  position: absolute;
  left: 15%;
  height: 100%;
  margin: 0;
  background-color: #F5F5F5;
}

.loggingIn {
  display: block;
  padding: 2em;
  text-align: center;
}

.welcome {
  text-align: center;
  color: #FF5A5F;
  font-size: 2em;
  font-weight: 900;
}

.cardContainer {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card {
  display: inline-block;
  width: 70%;
  height: 40vh;
  position: relative;
  background-color: #FFFFFF;
  margin: 7vh 0 7vh 0;
  -webkit-box-shadow: 3px 3px 22px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 3px 22px -4px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 22px -4px rgba(0, 0, 0, 0.5);
}

.MyClass {
  width: 30vh;
  position: relative;
  bottom: 6.5vh;
  display: inline-block;
  -webkit-box-shadow: 3px 3px 22px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 3px 22px -4px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 22px -4px rgba(0, 0, 0, 0.5);
}

.predict {
  position: absolute;
  cursor: pointer;
  bottom: 2em;
  font-size: 1em;
  right: 6px;
  font-family: 'roboto';
  font-weight: 300;
  color: white;
  text-align: center;
  z-index: 3;
  background: #FF5A5F;
  width: 33%;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  right: 0;
  top: 0;
  width: 42%;
  height: 100%;
  padding-right: 8%;
}

.songTitle {
  font-weight: 300;
  margin: 0.8em 0 0.2em 0;
}

.artists {
  margin-top: 0;
}

.rating {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 2em;
  margin-top: -0.1em;
  display: inline;
  padding: 0;
}

.acousticDescription {
  font-weight: 300;
  position: relative;
  bottom: -20px;
  margin: 0;
  font-size: 0.7em;
}

.icons {
  display: flex;
  position: relative;
  justify-content: space-around;
  width: 85%;
  bottom: 10%;
}
